name: CI Build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    container: python:3.11-slim

    services:
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_PASSWORD: pgs3cr3t
          POSTGRES_DB: testdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
          pipenv install --system --dev
      - name: Lint with flake8
        run: |
          flake8 service tests --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 service tests --count --max-complexity=10 --max-line-length=127 --statistics
      - name: Lint with pylint
        run: |
          pylint service tests --max-line-length=127
      - name: Run unit tests with pytest
        env:
          DATABASE_URI: postgresql+psycopg://postgres:pgs3cr3t@postgres:5432/postgres
        run: |
          export RETRY_COUNT=1
          pytest --pspec --cov=service --cov-report=xml --cov-report=term --cov-fail-under=95 --disable-warnings

      
      ######################################################################
      # Create a CODECOV_TOKEN in Settings->Secrets and variables->Actions
      # and then uncomment the CodeCov action during hands-on lab
      ######################################################################

      - name: Install packages for Codecov to work
        run: apt-get update && apt-get install -y git curl gpg

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: CSCI-GA-2820-FA25-001/recommendations